@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}
.cabecera .contenedor-texto {
    display: flex;
    justify-content: center;
    align-content: center;
	font-size: 5vw;

}
.cabecera .contenedor-texto .texto {
    padding: 15px 80px;
	color: #ffffff;
	margin-top: 60px;
	margin-bottom: 20px;
    text-align: center;
	font-size: 2vw;
	background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.cabecera {
	background: url("img/fondo5.jpg") #001f3b;
	background-blend-mode: difference;
    background-repeat: no-repeat;
    background-position: center;
	min-width: 50%;
    max-height: 320px;
}
.cabecera .logo img{
    vertical-align: top;
	background-blend-mode: difference;
	text-align: center;
    border-radius: 80%;
    border: 9px solid rgba(255, 255, 255, 0.115);
}
.cabecera .logo{
	text-align: center;
	align-content: center;
}

.contenedor {
	width: 100%;
	padding: 80px;
	margin-top: 100px;
	max-width: 100%;
	background: linear-gradient(to right, #1c3643, #1b1b1b, #1c3643);
	margin: auto;
}

.contenedor h3{
	color: #42E2B8;
	font-size: 5vw;
	font-weight: bold;
	margin-bottom: 40px;
	text-align: center;
}

.contenedor-img {
	position: relative;
}


.contenedor .contenedor-habilidades .habilidad {
    padding: 0px 0px;
	min-width: 0px;
}

.contenedor .contenedor-habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

header {
	padding: 40px 0;
	text-align: center;
	
}

.contenedor .presentacion{
	display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
	color: white;
    font-size: 2.5vw;
    line-height: 60px;
    font-weight: 500;
    margin: 25px auto;
    margin-inline-end: 5px;
	font-family: 'Balsamiq Sans', cursive;
}

header form {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

header #barra-busqueda {
	width: 100%;
	line-height: 40px;
	margin-top: 50px;
	border: none;
	text-align: right;
	font-size: 16px;
}

header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #ffffff;
	margin: 10px 20px;
	font-size: 1.4em;
	font-weight: 700;
}


/* ------------------------- */
/* Grid */
/* ------------------------- */

.grid {
	position: relative;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
	opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
	position: relative;
}

.grid .item img {
	width: 100%;
	cursor: pointer;
	vertical-align: top;
}

/* ------------------------- */
/* Overlay */
/* ------------------------- */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}

/* ------------------------- */
/* Footer */
/* ------------------------- */


footer #socials a{
	color: #42E2B8;
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}

footer .creado-por {
	margin-bottom: 40px;
	text-align: center;
	font-size: 14px;
	color: #c13584;
}

/* ------------------------- */
/* Mediaqueries */
/* ------------------------- */
@media screen and (max-width: 700px) {
	.grid .item {
		width: calc(50% - 20px);
	}
	
	.contenedor .presentacion {
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		color: rgb(255, 255, 255);
		font-size: 4vw;
		line-height: 25px;
		font-weight: 500;
		margin: 85px auto;
		margin-inline-end: 5px;
	}
}


@media screen and (max-width: 400px) {
	.grid .item {
		width: calc(100% - 20px);
	}
	.contenedor .presentacion {
		display: block;
		margin-inline-start: 0px;
		color: rgb(255, 255, 255);
		font-size: 3vw;
		line-height: 20px;
		font-weight: 100;
		margin: 85px auto;
	}

}